*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

img{
    width: 100%;
}

.container{
    width: 80%;
    margin: auto;    
}

.slider{
    display: flex;
    align-items: center;
}

.slider .image{
padding: 5%;
}

.slider .arrow{
    font-size: 40px;
    cursor: pointer;
}

.slider .image img{
    display: none;    
}

.slider .image img.active{
    display: block;    
}